{% extends 'base.html.twig' %} 
{% block content %}
<div class="container {{ page.header.body_classes }}">
    <div class="row">
        <div class="col">
            {{ page.content }}
        </div>
    </div>
</div>
{% endblock %}
