// Variables
$font-size-base: 1.125rem;
$font-family-sans-serif: 'Roboto', sans-serif;
$headings-font-family: 'Roboto', serif;
$theme-colors: (
  "primary": #BE1E2D,
  "danger": #ff4136
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../flag-icon-css/sass/flag-icon";
@import "../node_modules/owl.carousel/src/scss/owl.carousel";
@import "../node_modules/owl.carousel/src/scss/owl.theme.default";


// STRUCTURE
// 01 - Home / O nama
// 02 - Stručni tim
// 03 - Pravne usluge
// 01 - Blog

// Use breakpoints inside classes
#logo {
    transition: 200ms ease-in;
}
.demo {
    font-size: 12px;
    @include media-breakpoint-up(md) {
        font-size: 30px;
    }
}

.nav-link {
    columns: #212529;
}

.languages {
    background: #F5F5F5;

    .col-auto {
        padding: .2em .3em;
    }

    .flag-icon {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }

    a {
        text-transform: uppercase;
        color: #818181;
    }

    .active {
        opacity: 1;
        color: #333333;
    }
}

p {
    line-height: 32px;
}

h1 {
    font-weight: 300;
    font-size: 38px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #58595B;
    margin-bottom: 1em;
}

h2 {
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #58595B;
    padding: 2em;
    @include media-breakpoint-up(xl) {
        font-size: 38px;
    }
}

h3 {
    font-size: 21px;
    text-align: center;
    color: #333333;
}

h4 {
    line-height: 30px;
    font-size: 21px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #58595B;
    margin-bottom: 1em;
}

.logo {
    max-width: 105px;
}

.header {
    padding: 2em 0;

    .nav-link {
        color: black;
        padding: 0.5em 1em;
        &:hover {
            background: #F2F2F2;
            border-radius: 4px;
        }
    }

    .active {
        background: #F2F2F2;
        border-radius: 4px;
        padding: 0.5em 1em;
    }
}

.slider {
    color: white;
    margin-bottom: 3em;
    padding: 0;

    .overlay {
        position: relative;
        &:before {
            content:'\A';
            position: absolute;
            width: 100%; 
            height: 100%;
            top: 0; 
            left: 0;
            background: rgba(0,0,0,0.6);
        }
    }

    img {
        max-height: 700px;
        object-fit: cover;
    }

    .simple-logo {
        position: absolute;
        z-index: 9999;
        transform-origin: center;
        top: 37%;
        /* position the top  edge of the element at the middle of the parent */
        left: 50%; /* position the left edge of the element at the middle of the parent */
        transform: translate(-50%, -50%);
        display: none;
        width: 70%;
        // background: #818181;
        @include media-breakpoint-up(xl) {
            top: 45%;
            width: 30%;
        }
    }
}

.contact {
    .send-button {
        padding: .5em 3em;
        margin-top: 1em;
    }
}

.map {
    margin: 6em 0 0;
}

#map {
    width: 100%;
    min-height: 600px;
}


footer {
    padding: 5em 0;

    p {
        margin: 0;
    }

    .gray {
        color: #828282;
    }

    .margin-bottom {
        margin-bottom: 1em;
    }
}

.no-padding {
    padding: 0;
}

.team {
    .description {
        font-size: 18px;
        text-align: center;
        color: #828282;
    }

    h3 {
        margin-bottom: 0;
        &:hover {
            color: #8e1919;
        }
    }
    
    img {
        background: #E0E0E0;
        border-radius: 4px;
        margin-bottom: 16px;
        display: block;
        min-height: 330px;
        object-fit: cover;

    }

    .images {
        margin-top: 2em;
    }

    .member {
        margin-bottom: 2em;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.person {
    .img-fluid {
        object-fit: cover;
        max-height: 740px;
        min-width: 100%;
        margin-bottom: 2em;
    }

    h1 {
        text-align: center;
        font-weight: 300;
        line-height: 53px;
        font-size: 38px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #58595B;
        margin: 1em 0 0;
    }

    h2 {
        font-size: 28px;
        text-align: center;
        color: #828282;
        text-transform: none;
        padding: 0;
        margin: 0 0 3em;
    }
}

.services {
    p {
        margin-bottom: 5em;
    }

    ul {
        li {
            list-style-type: circle;
            line-height: 40px;
        }
    }

    .card {
        margin-top: .2em;
    }
}