<footer>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-auto">
                <p>Odvjetničko društvo ČERIN, MAR I PARTNERI d.o.o.</p>
                <p class="gray">Jurišićeva 9, 10 000, Zagreb</p>
                <p class="margin-bottom">OIB: 65986891408</p> 
                <p>T: + 385 1 4830 383</p>
                <p>E: ured@cmzs.hr</p>
            </div>
            <div class="col-auto">
                <p>© CMZS. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>